<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ig's django blog</title>
</head>
<body>
  <header>
    <h1><a href="/">Ig's django tutorial blog</a></h1>
  </header>

  <article>
    <time>published: 10.30.2024, 10:43</time>
    <h2><a href="">My first post</a></h2>
    <p>This is the first post intro so you get to know what it is about</p>
  </article>

  <article>
    <time>published: 10.30.2024, 11:48</time>
    <h2><a href="">My second post</a></h2>
    <p>This is the second post intro so you get to know what it is about</p>
  </article>


</body>
</html>